@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    box-sizing: border-box;
    outline: 0;
}
:root {
    --cor-body: rgb(17, 86, 102);
}
body {
    margin: 0;
    padding: 0;
    background: var(--cor-body);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    }
.secao {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
form label, 
form input, 
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus {
    outline: 1px solid var(--cor-body);
}
.linha-tabela {
    display: flex;
    margin-bottom: -10px;
}
.linha-tabela h3,
.linha-tabela p {
    width: 50%;
    margin: 9px 0px;
} 
form button {
    border: none;
    background: var(--cor-body);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
#resultado {
    border: none;
    font-weight: 500;
    height: 50px;
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 4px;
}
